<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
    <h2>Choose a patient to view more info</h2>
    <% if (patients.length > 0) { %>
        <% patients.forEach(patient => { %>
            <a href="/Admin/getPatientsBasicInfo/<%= patient.id %>">
                <h3><%=patient.firstName%>  &nbsp; <%=patient.lastName%></h3>
            </a>
        <% }); %>
        <% } else { %>

            <p>There are no patients to display...</p>

        <% } %>
        <a href="/Admin">
            HOME </a>
   
    </div>
</body>
</html>