<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <h2>All Meds</h2>

        <% if (meds.length > 0) { %>
            <% meds.forEach(med => { %>
                
                <a href="/Pharmacist/<%= med._id %>">
                    <h3><%= med.name %></h3>
                </a>

            <% }); %>
        <% } else { %>

            <p>There are no meds to display...</p>

        <% } %>
    </div>
</body>
</html>