<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <a href="/Guest/regPatient">
        Register as a patient </a>
        <br>

    <a href="/Guest/regPharma">
        Register as a Pharmacist </a>

        <br>
        <a href="/Admin">
            admin </a>

            <br>
            <a href="/Patient">
                 patient </a>

                 <br>
                <a href="/Pharmacist">
                    Pharmacist </a>
                    <br>

</body>
</html>