<input type="text" id="d2" placeholder="Enter Doctor ID">
<br><br>
<input type="text" id="emailTextBox" placeholder="Enter New Email">
<br><br>
<button id="updateEmailButton">Update Email</button>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>


    $(document).ready(function() {
       
        $("#updateEmailButton").on("click", function() {
            var id = $("#d2").val();
            var price = $("#emailTextBox").val();
            console.log('Doctor ID:', id);
            console.log('New Email:', price);
            $.ajax({
                url: `/pharmacist/${id}`,
                method: "PUT",
                data: { price: price },
                success: function(response) {
                    console.log("Email updated successfully.");
                },
                error: function(error) {
                    console.error("Error updating email:", error);
                }
            });
        });
    });
</script>