<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <h2>ADD MEDICINE</h2>
        <form action="/Pharmacist/addMedicine" method="post">
            <label for="name">name:</label>
            <input type="name" id="name" name="name" required>

            <label for="price">price:</label>
            <input type="price" id="price" name="price" required>

            <label for="use">use:</label>
            <input type="use" id="use" name="use" required>

            <label for="description">description:</label>
            <input type="description" id="description" name="description" required>

            <label for="quantity">quantity:</label>
            <input type="quantity" id="quantity" name="quantity" required>

            <label for="sales">sales:</label>
            <input type="sales" id="sales" name="sales" required>

            <label for="details">details:</label>
            <input type="details" id="details" name="details" required>

            <label for="picture">picture:</label>
            <input type="file" id="picture" name="picture">

 
        
            <input type="submit" value="Submit">
        </form>
        
        <a href="/Pharmacist">
            HOME </a>
    </div>
</body>
</html>