<!DOCTYPE html>
<html>
<head>
    <title>Medicine Search and Filter</title>
    <link rel="stylesheet" type="text/css" href="/backend/public/styles.css">
</head>
<body>
    <h1>Medicine Search and Filter</h1>
    <form action="/Pharmacist/query" method="GET">
        <label for="search">Search by Name:</label>
        <input type="text" id="search" name="search" placeholder="Search by name">
        
        <label for="use">Filter by Use:</label>
        <input type="text" id="use" name="use" placeholder="Filter by use">
        
        <button type="submit">Search</button>
    </form>
    
    <% if (medicines.length > 0) { %>
        <h2>Search Results:</h2>
        <ul>
            <% medicines.forEach(function(medicine) { %>
                <li><%= medicine.name%>     Use:<%=medicine.use%></li>
            <% }); %>
        </ul>
    <% } else { %>
        <p>No matching medicines found.</p>
    <% } %>

    <a href="/Pharmacist">
        HOME </a>
</body>
</html>