<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <h2>All Meds</h2>

        <% if (meds.length > 0) { %>
            <% meds.forEach(med => { %>
                
                <a href="/Patient/<%= med.id %>">
                    <h3 style="margin: 0;"><%= med.picture %></h3>
                    <h4 style="margin: 0;"><%= med.price %></h4>
                    <h5 style="margin: 0; margin-bottom: 100px;"><%= med.description %></h5>
                </a>

            <% }); %>
        <% } else { %>

            <p>There are no meds to display...</p>

        <% } %>
    </div>
</body>
</html>